body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}

.primeira-tela {
    margin-top: 146px;
}

.primeira-tela .borda-cinza {
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 77px;
    cursor:pointer;
}

.borda-cinza .mensagem {
    width: 250px;
    margin-bottom: 20px;
}

.borda-cinza .mensagem p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
}

.borda-cinza .botao-criar {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao-criar p {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #EC362D;
}

.primeira-tela h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.primeira-tela .meus-quizzes {
    width: 1051px;
    margin-bottom: 48px;
}

.meus-quizzes .titulo-quizzes {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.meus-quizzes .titulo-quizzes ion-icon {
    font-size: 31px;
    margin-left: 17px;
    color: #EC362D;
}

.meus-quizzes .quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primeira-tela .todos-os-quizzes {
    width: 1051px;
    margin-bottom: 48px;
}

.todos-os-quizzes .titulo-quizzes {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.todos-os-quizzes .quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.quizz .nome-quizz {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.nome-quizz h4 {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    margin: 0 18px 10px 18px;
    color: #FFFFFF;
    word-break: break-word;
}

.escondido {
    display: none;
}

.centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.criacao-quizz {
    margin-top: 140px;
}

.criacao-quizz h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 29px;
}

.infos-basicas .caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 256px;
    padding: 22px 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.criacao-quizz input {
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    outline: none;
    text-indent: 20px;
}

.criacao-quizz ::placeholder {
    font-style: italic;
    color: #BABABA;
}

.criacao-quizz .botao {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 75px;
}

.botao p {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
}

.criacao-quizz h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 16px;
}

.perguntas .caixa-pergunta {
    width: 600px;
    padding: 22px 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    flex-direction: column;
}

.alinhamento {
    display: flex; 
}

.caixa-pergunta .caixa-secundaria {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.caixa-pergunta .caixa-secundaria:last-child {
    margin-bottom: 0;
}

.perguntas input {
    margin-bottom: 14px;
}

.perguntas .space {
    height: 22px;
}

.perguntas .caixa-editar {
    width: 600px;
    height: 74px;
    padding: 0 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
}

.caixa-editar h3 {
    margin-bottom: 0;
}

.caixa-editar ion-icon {
    cursor: pointer;
    font-size: 26px;
}

.niveis .caixa-editar {
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 74px;
    padding: 0 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
}

.niveis .caixa-pergunta  { 
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 316px;
    margin-top: 24px;
    padding: 22px 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

span {
    font-size: 20px;
    font-weight: bold;
}

.sucesso > p {
    color: #818181;
    font-size: 21px;
    line-height: 25px;
    margin-top: 19px;
    cursor: pointer;
}

.imagem-quizz {
    width: 500px;
    height: 266px;
    border-radius: 5px;
    margin-bottom: 12px;
    display: flex;
    position: relative;
    margin-top: 46px;
}

.imagem-quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.imagem-quizz .nome-quizz {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.pagina-de-um-quizz {
    margin-top: 69px;
}

.faixa-quizz {
    width: 100%;
    height: 227px;
    margin-bottom: 42px;
    display: flex;
    position: relative;
}

.faixa-quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.faixa-quizz .titulo-do-quizz {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faixa-quizz .titulo-do-quizz p {
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
}

.caixa-quizz {
    width: 759px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0 36px;
    margin-bottom: 42px;
}

.caixa-quizz .pergunta-quizz {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 18px;
}

.caixa-quizz .pergunta-quizz p {
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    word-break: break-word;
}

.resposta-quizz {
    width: 759px;
    padding: 0 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.resposta-quizz .titulo-resposta {
    background: #EC362D;
    width: 100%;
    height: 99px;
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    
}

.resposta-quizz .titulo-resposta p {
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    word-break: break-word;
}

.resposta-quizz .caixa-resultado {
    display: flex;
}

.resposta-quizz img {
    width: 364px; 
    height: 273px;
    object-fit: cover;
    margin-bottom: 22px;
}

.resposta-quizz .caixa-resultado p {
    color: #484848;
    margin-left: 21px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 22px;
    word-break: break-word;
}

.caixa-quizz .imagens-quizz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;
    position: relative;
}

.caixa-quizz .imagens-quizz img {
    width: 100%;
    height: 175px;
    object-fit: cover; 
}

.caixa-quizz .imagens-quizz p {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    word-break: break-word;
}

.card-resposta {
    width: 330px;
    margin-bottom: 18px;
}

.pagina-de-um-quizz .botao {
    width: 261px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 57px;
    margin-bottom: 30px;
}

.pagina-de-um-quizz > p {
    color: #818181;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    cursor: pointer;
}

.vermelho {
color: #FF4B4B;
}

.opacidade {
    opacity: 0.3;
}

.opacidade-maxima {
opacity: 1;
}

.verde {
   color: #009C22;
}

.preto {
    color: #000000;
}

.travar-respostas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 1100px) {

    .primeira-tela {
        margin-top: 100px;
        margin-left: 18px;
        margin-right: 18px;
    }

    .primeira-tela .borda-cinza {
        width: 100%;
    }

    .primeira-tela .meus-quizzes {
        width: 100%;
        max-width: 340px;
    }

    .meus-quizzes .titulo-quizzes {
        justify-content: space-between;
    }

    .primeira-tela .todos-os-quizzes {
        width: 100%;
        max-width: 340px;
    }

    .criacao-quizz {
        margin-top: 106px;
    }
    .infos-basicas, .perguntas, .pergunta-X, .niveis {
        width: 100%;
    }
    .infos-basicas .caixa {
        max-width: 600px;
        width: 100%;
    }
    .criacao-quizz .botao {
        max-width: 324px;
        width: 100%;
        margin-top: 29px;
    }

    .perguntas .caixa-pergunta {
        max-width: 600px;
        width: 100%;
    }

    .perguntas .caixa-editar {
        max-width: 600px;
        width: 100%;
    }

    .niveis .caixa-pergunta {
        max-width: 600px;
        width: 100%;
    }

    .niveis .caixa-editar {
        max-width: 600px;
        width: 100%;
    }

    .sucesso {
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }

    .sucesso .imagem-quizz {
        max-width: 340px;
        height: 181px;
        width: 100%;
    }

    .sucesso > p {
        font-size: 18px;
        line-height: 21px;
    }

    .faixa-quizz {
        height: 142px;
    }

    .faixa-quizz .titulo-do-quizz p {
        font-size: 19px;
        line-height: 22px;
    }

    .caixa-quizz {
        max-width: 375px;
        width: 100%;
        padding: 0 18px;
        margin-bottom: 28px;
        
    }
    
    .caixa-quizz .pergunta-quizz {
        height: 89px;
        margin-top: 18px;
        margin-bottom: 12px;
    }
    
    .caixa-quizz .pergunta-quizz p {
        font-size: 19px;
        line-height: 22px;
    }

    .caixa-quizz .imagens-quizz {
        width: 100%;
        margin-bottom: 8px;
    }

    .caixa-quizz .imagens-quizz img {
        height: 113px;
    }
    
    .caixa-quizz .imagens-quizz p {
        font-size: 13px;
        line-height: 15px;
    }

    .card-resposta {
        width: 163px;
        margin-bottom: 10px;
    }

    .resposta-quizz {
        max-width: 375px;
        width: 100%;
    }

    .resposta-quizz .titulo-resposta {
        margin-bottom: 9px;
    }

    .resposta-quizz .titulo-resposta p {
        font-size: 19px;
        line-height: 22px;
    }

    .resposta-quizz .caixa-resultado {
        flex-direction: column;
        width: 100%;
    }

    .resposta-quizz img {
        width: 100%; 
        height: 255px;
        margin-bottom: 9px;
    }

    .resposta-quizz .caixa-resultado p {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 14px;
        margin-left: 0;
    }

    .pagina-de-um-quizz .botao {
        max-width: 220px;
        width: 100%;
        height: 44px;
        margin-top: 34px;
    }

    .pagina-de-um-quizz > p {
        font-size: 18px;
        line-height: 21px;
    }

    .botao p {
        font-size: 18px;
        line-height: 21px;
    }
}